html {
    background-color: #F8F8F8;
}

body {
    padding: 3rem;
}
.page {
    background-color: lightgrey;
    border-radius: 2rem;
    padding: 2rem;
}

.title {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.button {
    padding: 1rem;
}

.todo {
    padding: 1rem;
    width: 50%;
}

.strikethrough {
    text-decoration: line-through;
    opacity: 0.2;
}

.check { 
    text-align: right;
    padding: 1em;
    position: relative;
    float: right;
    margin-right: 2em;
}

.h2 {
    width: 100%;
}